<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 定义放置文章标题的div容器 -->
<div class="container">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="exampleInputName2" class="col-sm-2 control-label">选择待删除的方案名称：</label>
      <div class="col-sm-6">
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">删除</button>
    </div>
  </form>
</div>

{% endblock content %}