<nav class="navbar navbar-default navbar-dark">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#">欢迎。</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <!--通过修改<a href="#">修改连接-->
            <li class="active"><a href="select.html">选择页</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">修改方案<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="add.html">添加方案</a></li>
                <li><a href="delete.html">删除方案</a></li>
                <li><a href="update.html">修改方案</a></li>
              </ul>
            </li>
            <li><a href="list.html">所有数据</a></li>
          </ul>
      </div>
    </div>
</nav>