<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 定义放置文章标题的div容器 -->
<div class="container">
  <form method="POST" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputName2" class="col-sm-2 control-label">选择拟采用的方案名称：</label>
      <div class="col-sm-6">
        <select class="form-control" name="plant">
          {% for plants in rvalue %}
          <option value="{{ plants.plant }}">{{ plants.plant }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">配置</button>
    </div>
    {% if status %}
    <div>
      <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert"
          aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        你已配置成功！
    </div>
    {% endif %}
  </form>
</div>

{% endblock content %}