<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 定义放置文章标题的div容器 -->
<div class="container">
  {% if switch == 0 %}
  <label>你的机器已处于关机状态。</label>
  {% elif switch == -1 %}
  <label>你的机器未配置任何植物。</label>
  {% endif %}
  <h1>选择方案</h1>
  <br>
  <form method="POST">
    {% csrf_token %}
    <div class="form-group row">
      <label for="exampleInputName2" class="col-sm-3 col-form-label">选择拟采用的方案名称：</label>
      <div class="col-sm-6">
        <select class="form-control" name="plant">
          {% for plants in rvalue %}
          <option value="{{ plants.plant }}">{{ plants.plant }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">配置</button>
    {% if status %}
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert"
          aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        你已配置成功！
    </div>
    {% endif %}
  </form>
</div>

{% endblock content %}