<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 定义放置文章标题的div容器 -->
<div class="container">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="exampleInputName2" class="col-sm-2 control-label">选择待修改的方案名称：</label>
      <div class="col-sm-6">
        <select class="form-control">
          {% for plants in rvalue %}
          <option>{{ plants.plant }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </form>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="exampleInputName2" class="col-sm-2 control-label">选择待修改的参数名：</label>
      <div class="col-sm-6">
        <select class="form-control">
          <option>植物名称</option>
          <option>上限温度</option>
          <option>下限温度</option>
          <option>上限湿度</option>
          <option>下限湿度</option>
          <option>上限二氧化碳浓度</option>
          <option>下限二氧化碳浓度</option>
        </select>
      </div>
    </div>
  </form>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="exampleInputName2" class="col-sm-2 control-label">键入新值：</label>
      <div class="col-sm-6">
        <input type="text" class="form-control col-sm-10" id="exampleInputName2">
      </div>
    </div>
  </form>
  <button type="submit" class="btn btn-primary col-sm-offset-7">修改</button>
</div>

{% endblock content %}