<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 定义放置文章标题的div容器 -->
<div class="container">
  <h1>修改方案</h1>
  <br>
  <form method="POST">
    {% csrf_token %}
    <!--csrf_token用来验证-->
    <div class="form-group row">
      <label for="exampleInputName2" class="col-sm-3 col-form-label">选择待修改的方案名称：</label>
      <div class="col-sm-6">
        <select class="form-control" name='plant'>
          {% for plants in rvalue %}
          <option value="{{ plants.plant }}">{{ plants.plant }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="exampleInputName2" class="col-sm-3 col-form-label">选择待修改的参数名：</label>
      <div class="col-sm-6">
        <select class="form-control" name='column'>
          <option value='temp_u'>上限温度</option>
          <option value='temp_b'>下限温度</option>
          <option value='humi_u'>上限湿度</option>
          <option value='humi_b'>下限湿度</option>
          <option value='co2_u'>二氧化碳浓度上限</option>
          <option value='co2_b'>二氧化碳浓度下限</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="exampleInputName2" class="col-sm-3 col-form-label">键入新值：</label>
      <div class="col-sm-6">
        <input type="number" class="form-control col-sm-10" required name='num' id="exampleInputName2">
      </div>
    </div>
    <button type="submit" class="btn btn-primary col-sm-offset-7">修改</button>
    <div>
      {% if status == 1 %}
      <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span>
        </button>
        你已修改成功！
      </div>
      {% elif status == 2 %}
      <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
          aria-hidden="true">&times;</span>
        </button>
        <strong>错误。</strong>请检查是否有不合法参数。
      </div>
      {% endif %}
    </div>
  </form>
</div>

{% endblock content %}